<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

  <test thread-count="5" name="chromeTest">
  <parameter name="browsername" value="chrome"></parameter>
    <classes>
      <class name="search.TC_001Test"/>
      <!--  <class name="search.TC_002Test"/>
      <class name="search.TC_003Test"/>
      <class name="search.TC_004Test"/>
      <class name="search.TC_005Test"/>
      <class name="search.TC_006Test"/>
     <class name="search.TC_007Test"/>
      <class name="search.TC_008Test"/>
      <class name="search.TC_009Test"/>
      <class name="search.TC_010Test"/>-->
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="firefoxTest">
  <parameter name="browsername" value="firefox"></parameter>
    <classes>
      <class name="search.TC_001Test"/>
      <!--  <class name="search.TC_002Test"/>
      <class name="search.TC_003Test"/>
      <class name="search.TC_004Test"/>
      <class name="search.TC_005Test"/>
      <class name="search.TC_006Test"/>
     <class name="search.TC_007Test"/>
      <class name="search.TC_008Test"/>
      <class name="search.TC_009Test"/>
      <class name="search.TC_010Test"/>-->
    </classes>
  </test>
</suite> <!-- Suite -->
